.videoplayer-outer {
	position: relative;
	height: 100%;
}

.videoplayer-outer .subtitle-item {
	position: absolute;
	bottom: 60px;
	left: 0;
	width: 100%;
	color: #fff;
	text-align: center;
  line-height: 1.4em;
  z-index: 2;
}

.subtitle-menu-outer {
	position: absolute;
	bottom: 0;
	right: 0;
  z-index: 3;
	background-color: #000;
	color: #FFF;
}
.subtitle-menu-btn {
	color: #fff;
	float: right;
	padding: 12px;
	font-size: 18px;
}

.subtitle-menu li {
	border-bottom: 1px solid #414141;
	line-height: 34px;
	padding: 0 4px 0 4px;
}
.subtitle-menu a {
	display: block;
  color: #FFF;
}
.subtitle-menu .focus {
	background-color: #414141;
}
.subtitle-submenu .fa-check {
	display: none;
}
.subtitle-submenu .enabled .fa-check {
	display: inline;
	height: 25px;
}
.subtitle-menu .subtitle-menu-arrow{
	height: 15px;
}
