.videoplayer-outer {
	position: relative;
	height: 100%;
}

.videoplayer-outer .subtitle-item {
	position: absolute;
	bottom: 60px;
	left: 0;
	width: 100%;
	color: #fff;
	text-align: center;
  line-height: 1.4em;
  z-index: 2;
}

.subtitle-menu-outer {
	position: absolute;
	bottom: 0;
	right: 0;
  z-index: 3;
	background-color: #000;
	color: #FFF;
}

.subtitle-menu li {
	border-bottom: 1px solid #414141;
	color: #FFF;
	line-height: 34px;
	padding: 0 4px 0 4px;
}
.subtitle-menu .focus {
	background-color: #414141;
}
.subtitle-submenu .icon-checked {
	display: none;
}
.subtitle-submenu .enabled .icon-checked {
	display: inline;
	height: 25px;
}
.subtitle-menu .arrow-right{
	height: 15px;
}
.subtitle-menu .arrow-left{
	height: 15px;
	transform: rotate(-180deg);
}
